* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-primary: #1d1c19;
  --card-color-primary: #f7dd43;
  --card-title-border: #746615;
  --bg: url('./assets/bg-yellow.svg');
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .buttons{
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.buttons button{
  width: 100px;
  height: 30px;
  border-radius: 8px;
  transition: 0.3s;
}

.buttons button:hover{
  transform: scale(110%);
  cursor: pointer;
}

#btn-blue{
  background-color: #338af3;
}
#btn-green{
  background-color: #047C3F;
}
#btn-yellow{
  background-color: #F7DD43;
}



body.blue{
  --bg-primary: #202024;
  --card-color-primary: #338af3;
  --card-title-border: #338af3;
  --bg: url('./assets/bg-blue.svg');
}

body.green{
  --bg-primary: #1A1F1B;
  --card-color-primary: #047C3F;
  --card-title-border: #047C3F;
  --bg: url('./assets/bg-green.svg');
}

body.yellow{
  --bg-primary: #1D1C19;
  --card-color-primary: #F7DD43;
  --card-title-border: #746615;
  --bg: url('./assets/bg-yellow.svg');
}

body {
  background-image: var(--bg);
  background-color: #121214;
  background-repeat: no-repeat;
  background-position-x: top center;
  /* background-position-y: -55%; */
  background-size: cover;
}

body * {
  font-family: 'Roboto', sans-serif;
}


#app {
  width: fit-content;
  margin: auto;
  padding-top: 52px;
}

header {
  margin-bottom: 62px;
  display: flex;
  justify-content: center;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  opacity: 0;
  padding: 32px 22px;
  text-align: center;

  background-color: var(--bg-primary);
  border-radius: 6px;
  border-bottom: 4px solid var(--card-color-primary);
  transition: 0.3s;

  animation: a1 0.5s forwards;
}

.card h2 {
  padding: 8px 16px;
  border: 1px solid var(--card-title-border);
  border-radius: 6px;

  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 52px;
  color: #f7dd43;

  font-size: 24px;
}

.card h2 span {
  color: #E1E1E6;
  font-size: 14px;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  gap: 24px;
  flex-direction: column;

  width: 270px;
}

.card ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card ul li+li {
  padding-top: 24px;
  border-top: 1px solid hsla(240, 6%, 21%, 1);
}

.card ul li strong {
  font-weight: 900;
  font-size: 30px;
  color: #E1E1E6;
  line-height: 125%;
}


.card:hover {
  transform: scale(110%);
}

@keyframes a1 {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;

  }
}

@media (min-width: 700px) {
  #cards {
    max-width: 670px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}