*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #121214;
  background-image: url('./assets/bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 55%;
  background-size: cover;
}

body *{
  font-family: 'Roboto', sans-serif;
}

#app{
  width: fit-content;
  margin: 52px auto;
}

header{
  margin-bottom: 62px;
}


.card{
  padding: 32px 22px;
  text-align: center;

  background-color: #1d1c19;
  border-radius: 6px;
  border-bottom: 2px solid #f7dd43;
}

.card h2{
  padding: 8px 16px;
  border:  1px solid #746615;
  border-radius: 6px;

  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 52px;
  color: #F7DD43;

  font-size: 24px;
}

.card h2 span{
  color: #E1E1E6;
  font-size: 14px;
  text-transform: uppercase;
}

.card ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card ul li strong{

  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  color: #E1E1E6;
}
